<style>
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')
</style>

*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
.hero{
    background-image: url('../img/anand-thakur-y0dSeflqUWo-unsplash.jpg');
    background-size: cover;
    background-position: bottom center;
    height: 100vh;
    clip-path: polygon(0 0, 99% 0, 100% 30%, 100% 70%, 53% 100%, 48% 100%, 0% 70%, 0 34%);

}
.hero h1{
     color: wheat;
    font-size: 100px;
    text-align: center;
    font-weight: 900;
    font-family: cursive;
    word-spacing: 40px;
    letter-spacing: 20px;
    padding-top: 60px; */ 
} 

.article ,#cow-type{
    width: 80%;
    /* margin-right:auto;
    margin-left: auto;
    margin: top 60px;
    margin-bottom: 60px; */
    margin: 60px auto;
    background: linear-gradient(45deg,rgb(223, 179, 186),rgb(82, 82, 219));

    padding: 60px;
}
.article h2, #cow-type{
    text-align: center;
    font-size: 48px;

    border-style: solid;
    border-width: 2px;
    border-top: 0;
    border-left:0;
    border-right:0; 
    border-color:yellow;
    padding-bottom: 30px;
    margin-bottom: 60px;
}
.article{
    font-size: 28px;
}
.article p .imp{
    font-size: 2em;
    background-color: yellow;
    display: inline-block;
    width: 600px;
}

.cow-images{
    display: flex;
    flex-direction: row;
    gap: 35px;
    /* flex-wrap: wrap; */
    justify-content: space-around;
}

.cow-images div{
    width: 300px;
}
.cow-images flex-direction{
    width: 100%;
}